h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    height: 1000px;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: white;
}
.news{
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.right{
    width: 400px;
    height: 100%;
    background-color: white;
    padding: 20px;
}
.logo{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon{
    height: 25px;
}
.icondp{
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.flex{
    display: flex;
}
.option{
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    transition: 0.5s;
    cursor: pointer;
}
.option p{
    font-size: 18;
}
.option img{
    margin-right: 10px;
}
.option:hover{
    transition: 0.5s;
    background-color: rgb(233, 233, 233);
}
.userdp{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 8px;
}
.name{
    color: grey;
}
.recommendation{
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.align-items{
    align-items: center;
}
.secondary{
    color: grey;
}
.justify-content{
    justify-content: space-between;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.recommendation a{
    color: rgb(0, 183, 255);
    text-decoration: none;
}
.recommendations p{
    font-size: 14px;
}
.about{
    color: grey;
    font-size: 14px;
}
.userdp-2{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid red;
}
.story{
    width: 80px;
    min-width: 80px;
}
.storys{
    overflow-x: scroll;
    padding: 5px;
    width: 95%; 
    min-height: 90px;
}
::-webkit-scrollbar{
    height: 0px;
}
.storys p{
    margin-top: 7px;
    font-size: 14px;
}
.w-100{
    width: 100%;
}
.icon{
    margin-right: 20px;
}
.options{
    margin-top: 15px;
}
.posts input{
    height: 30px;
    width: 100%;
    border: none;
}
.posts h5{
    margin-top: 10px;
    margin-bottom: 10px;
}
.posts{
    width: 80%;  
}